body {
  padding: 0;
  margin: 0; }

#wrapper {
  width: 1000px;
  margin: 0 auto; }
  #wrapper #header #logo .heading {
    color: #d06060;
    margin: 0 auto;
    width: 600px;
    font: 50px "Kavoon", cursive;
    text-align: center; }
  #wrapper #header #logo span {
    font: 12px serif;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    display: block; }
  #wrapper nav ul {
    list-style: none;
    margin-left: 220px; }
    #wrapper nav ul li {
      display: inline;
      width: 22px; }
      #wrapper nav ul li a {
        color: #d06060;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        margin-left: 20px; }
