@charset "UTF-8";
/* CSS Document */

h1
{
	background-color:#999900;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#33CCFF;
	text-decoration:underline;
}

p
{
	font-size:28px;
	font-weight:bold;
}

#imageDiv
{ 	
	width:200px;
	height:200px;
	background-image:url(01_back.jpg);
	background-position:-50px -100px;
	background-repeat:no-repeat;
	border:solid 5px #FF0000;
}

/*img
{
	border:dotted 1px #000000;
	width:200px;
}
*/


