
body 
{
	padding: 0px;
	margin:0px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1.2em;
	font-size:1em;
}

/*h1 
{
	line-height: 100%;
	font-size: 1.6em;
}

h2
{
	font-size: 1.2em;
}

#header, #navigation, #footer, h1, h2, h3 
{
	font-family: Verdana, Geneva, sans-serif;
}
*/

/* header related properties */
#header 
{
	width: 100%;
	margin: 0;
	padding: 0;  
	/*padding: 20px;*/
	color: #fff;
	background: rgba(102,0,153,1);
	
}

#header h2
{
	padding:30px 20px;
}


/* page related properties */
#page
{
/*	max-width:1280px;*/
	width:100%;
}


/* navigation related properties */
#navigation ul 
{
	margin: 0;
	padding: 10px;
	list-style: none;
	color: #333;
	background:rgba(13, 17, 54,0.9);
	overflow: hidden;    
}

#navigation li 
{
	display:inline-block;
}

#navigation a 
{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
}

#navigation a:hover 
{
	background: rgb(09, 54, 98)
}


/* content related properties - content @ left hand side */
#content 
{
	width: 60%;
	float: left;
	margin: 0 0 20px 0;
	padding: 0;
}


/* .bloc class written inside content @ left hand side */
#content .bloc 
{
	margin-right: 1%;
	padding: 20px;
	color: #333;
	background: rgb(102,102,255);
}

.dataOutput
{
	border-radius: 5px;
	padding:10px;
	background:rgba(255, 255, 255,1);
	box-shadow: 0px 0px 3px 0 rgba(51, 51, 51,0.8);

}


/* sidebar related properties - sidebar @ right hand side */
.sidebar
{
	float: left;
	margin: 0 0 20px 1%;
	padding: 0;
	background: none repeat scroll 0 0 #69D2E7;
   
}

/* .bloc class written inside sidebar @ right hand side */
.sidebar .bloc 
{
	padding: 20px;
	color: #fff;
	background: rgb(102,51,255);
	font-size: 85%;  
} 

/* bar1 @ middle right*/
#bar1
{
	width:20%;
}

/* bar2 @ extreme right*/
#bar2
{
	width:18%;
}


/* footer related properties */
#footer
{
	width: 100%;
	clear: both;	
	margin: 0;
	padding: 0;
	color: #fff;
	background: rgba(102,0,153,1);

}

#footer h3 
{
	padding: 20px 20px;
}



/* media queries */

@media screen and (max-width: 1000px) 
{
	
	#bar1, #bar2 
	{
	width:39%;	
	}
	
	.sidebar
	{
	float: left;
	margin: 0 0 20px 1%;
	padding: 0;   
	}
	     
}


@media screen and (max-width: 540px) 
{
	#bar1,#bar2
	{
	clear:both;
	width:100%;	
	}
	
	.sidebar
	{
	float: left;
	margin: 0 0 20px 1%;
	padding: 0;   
	}
	
	#content 
	{
	clear:both;
	width:100%;	
	}
	
	#content .bloc 
	{
	margin:0;
	}	
	
}
